.game-button{
    -fx-background-color:transparent;
    -fx-border-width:0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-cursor: hand;
}

.game-button-layout{
    -fx-background-color: #333352;
    -fx-border-width: 0
}

.game-details-text{
    -fx-text-fill: #8A75FF;
    -fx-font-size: 15px;
    -fx-font-weight: 700;
}

.game-button-layout:hover{
    -fx-background-color: #4E4E7A;
    -fx-border-width: 0
}

.game-title{
    -fx-text-fill:white;
    -fx-font-size: 18px;
    -fx-font-weight: 700;
}